/* Work sans font */ 
 
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} 
/* shared styles */ 
  .display-flex{
    display: flex;
  } 
     /* dark 02 */
  .text-gray{ 
    color: #424242;
  } 
     /* dark03 */
   .text-light-gray{
     color:#727272 ;
   } 

   .bg-light{
      background-color: rgba(255, 144, 14, 0.1);
   }  
    main{
      max-width: 1440px;
      margin: 0 auto;
    } 
    .primary-text{
       color: #FF900E;
    }

   .primary-btn{
      background-color: #FF900E; 
      color: white; 
      border-radius: 8px; 
      padding: 20px 25px; 
      font-size: 1.25rem; 
      font-weight: 600; 
      border: none;  
      margin-bottom: 50px;
   } 

   main > section{
     margin-top: 130px;
   } 

   .section-title{
       font-size: 2.8rem; 
       font-weight: 700;
     } 
/* Header styles */ 

/* nav bar related styles */
  .navbar{
  justify-content: space-between;
  align-items: center;
   }

  .nav-item{
     list-style: none; 
     margin-right: 30px;
       
  } 
  .nav-link{
    text-decoration: none; 
    font-weight: 400;
  } 
  
   
  .navbar, .banner{
    max-width: 1440px;
     margin: 0 auto;
  }  
  .brand{
    font-weight: 800; 
    font-size: 3rem;
  } 

  /* banner related styles */ 
    .banner-content{
      max-width: 850px; 
      margin: 0 auto; 
      text-align: center;
    } 
    .banner-title{
      font-weight: bold; 
      font-size: 4rem;
    } 
    .banner-description{
      font-weight: 400; 
      font-size: 1.2rem ;
    }  
    .banner-img{
      width: 100%;
    } 

    /* team and feature related styles */
     .teams{
        align-items: center;
     } 

     .team-img-container{
       display: grid; 
       grid-template-columns: repeat(2,1fr); 
       gap: 25px;
     } 
     .our-features{
       margin-left: 130px; 
       max-width: 530px;
     }  
     
     #quick-list{
       font-weight: 500;

     }
     
     /* some facts related styles */
        .fact-card{
          border: 2px solid #FF900E; 
          border-radius: 8px; 
          width: 240px; 
          height: 240px;
          align-items: center;
          justify-content: center; 
          text-align: center;
        } 
        .facts-container{
           display: grid; 
           grid-template-columns: repeat(4,1fr);  

            
        } 
        .fact-number{
           font-size: 2.8rem; 
           font-weight: 600;
           margin-top: 5px; 
           margin-bottom: 5px;
         
        }  
        .fact-description{
          max-width: 540px;
        }
        .fact-name{
           font-size: 1.25rem; 
           font-weight: 600; 
           color: #727272; 
           margin-top:  5px;
        } 

        /* our sponsors related styles */ 
        .sponsor-info{
          max-width: 542px;
          margin: 50px auto; 
          text-align: center;
        }

        /* sponsors-companies */ 

        .sponsors-companies{
          display: grid; 
          grid-template-columns: repeat(5,1fr);
           
        } 

      .sponsors-companies img{
         filter: grayscale(100%);
      }

    /* Responsive media quarry */  
    
          /* for small device */
     @media screen and (max-width:576px) {
         .navbar, .nav-links, .teams{
           flex-direction: column;
          }
  .team-img-container, .facts-container,.sponsors-companies{
             grid-template-columns: repeat(1,1fr);
          } 
           .facts-container{
             justify-items: center; 
             gap: 24px;
           }
           .sponsors-companies{
              justify-items: center; 
              gap: 52px;
           }
          .our-features{
             margin-left: 20px;
          }
          } 
     
       /* Medium size device responsive making part */ 
       @media screen and (min-width: 576px) and (max-width: 992px){
          .teams{
             flex-direction: column;
          } 
          .our-features{
            margin-left: 50px auto;
          } 
          .sponsors-companies,.facts-container{
            grid-template-columns: repeat(2,1fr); 
            gap: 100px; 
            justify-items: center;
           
          }
       } 



     